div:hover{
	background-color:pink;
}
div{
	background-color:#FFC78E;
}
body{
	background:-webkit-linear-gradient(-8deg, rgb(255, 250, 205), rgb(255,215,0))
}
img{
	width:100px;
	height:100px;
}
ul{
	font-family:"Lucida Console",monospace;
}
ol{
	font-family:"Lucida Console",monospace;
}
h1{
	color:gray;
}